audio {
    display: none;
}

button {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
}
button:hover {
    background: #eeeeee;
}

.musicview {
    display: flex;
    align-items: center;
    width: 600px;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: linear-gradient(#fafafa, #eee) no-repeat #757575;
    height: 8px;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}
::-moz-range-thumb {
    background: #fafafa;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    border: none;
}
::-mox-focus-outer {
    border: 0;
}
::-ms-fill-lower {
    background: #fafafa;
}
::ms-thumb {
    background: #fafafa;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    border: none
}

.seekbar {
    width: 100%;
    height: 8px;
    margin: 0px 8px;
}

.musicbuttons {
    width: 600px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volumeview {
    width: 80px;
}

.volumeview p {
    font-size: 12px;
    margin: 2px 0;
    text-align: center;
}

.volume {
    width: 80px;
}